*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px black;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    background-color: rgb(81, 98, 199);
    color: aliceblue;
}

.span-text{
    max-width: 70%;
}

.input-group-text{
    cursor: pointer !important;
}